/*!
 * Roots 6.5.2
 */

/**
 * Dependencies
 */
@import "compass";
@import "normalize";
@import "breakpoint";
@import "normalize";
@import "toolkit";
@import "toolkit/kickstart";
@import "susy";
@import "compass/utilities/sprites";

// @import "icons/*.png";

/**
 * Core
 */
@import "variables/core";
@import "variables/grid";
@import "variables/breakpoint";
@import "variables/mixins";
@import "variables/layout";
@import "variables/colours";
@import "variables/typography";
@import "variables/custom-fonts";
@import "variables/forms";

/**
 * Partials
 */
@import "variables/navigation";
@import "plugin/slick";

/* ==========================================================================
   Helpers
   ========================================================================== */

.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}
.clearfix:after {
  clear: both;
}


.mobile_device {
	display: block !important;
	visibility: visible !important;
}

@include breakpoint($tab){
	
	.mobile_device {
		display: none !important;
		visibility: hidden !important;	
	}
}

/* ==========================================================================
   Base
   ========================================================================== */
* {
  -webkit-font-smoothing: antialiased;
}
html {
  &.no-js {
    #menu-primary-navigation li.dropdown:hover ul {
      display:block;
    }
    .cover-image {
      display: none;
    }
  }
}
body {
  color: $base-body-copy;
  @include breakpoint($tab){
    margin-top:142px;
    &.menu-small {
      margin-top:127px;
    }
  }
  @include breakpoint($desk){
    margin-top:142px;
    &.admin-bar {
      margin-top:110px;
    }
  }
}

embed, img, object, video {
  //max-width: 100%;
  max-width: none;
  width: 100%;
  //height: auto;
}

.video {
  iframe {
    width:100%;
  }
}
a {
  color: $base-link-primary;
  text-decoration:none;
  @include transition(0.3s);
  &:hover, &:focus {
    color: $base-link-primary-hover;
    border-bottom:1px solid $base-link-primary-hover;
  }
}

.wp-chart-wrap {
  width:99% !important;
}
/* ==========================================================================
   Sidebars
   ========================================================================== */
.home {
  .sidebar {
    .block {
      &.info {
        background:none;
        padding:1.5em 0;
        .related-footer {
	        margin-bottom: em-calc(20px);
        }
        
        .snippet {
	        border-bottom: 1px solid $base-hr-border;
        }
      }
      &:first-of-type {
        padding-top:0;
        margin-top:0;
      }
    }
  }
}
.sidebar {
  @include breakpoint($tab){
    margin-bottom: 2em;
  }
  .block {
	  
	  margin-bottom: 2em;

    &.info {
      line-height:em-calc(20px, 14px);
      padding:1.5em;
      background:$sidebar-bg;
      
      .snippet {
	      
	      border-bottom: 1px solid #ccc;
      }
      
      &.download {
	      padding: 0;
		  background: none;
		  
		  a {
			  width: 100%;
			  height: 100%;
			  display: block;
			  padding: 2em 1.5em;
			  font-weight: 400;
			  color: $base-link-secondary;
			  background: #f1f1f1;
			  line-height: 0;
			  
			  &:hover, &:focus {
				  color: white;
				  background: $base-link-secondary;
			  }
			  
			  &:before {
				  content: '\e803';
				  padding-right: 0.875em;
				  font-size: 1.5em;
				  font-family: 'fontello';
			  }
		  }
      }
    }
    &.image {
      margin-top:1.5em;
    }
    &.menu {
      ul {
        padding-left:1em;
        margin:0;
        list-style: none;
        li {
          margin-bottom:1em;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
    h3 {
      margin-bottom:0.5em;
      margin-top:0;
    }
    h4 {
      margin-bottom:1em;
      &:first-of-type {
        margin-top:0;
      }
    }
    .snippet {
		margin-bottom:em-calc(20px);
		padding-bottom:em-calc(20px);
		
		&:nth-last-child(2) {
			border-bottom: none;
			padding-bottom: 0px;
			margin-bottom:em-calc(40px);
		}
		
      a {
        &:hover,&:focus {
          border-bottom:none;
        }
      }
      h3 {
	      margin-bottom: 0px;
      }
      img {
        margin-bottom: 0.5em;
        width: 100%;
        display: block;
      }
      p {
        font-size:em-calc(14px);
        margin:0.5em 0 0;
        a {
          &.readmore {
            margin:0.5em 0;
            &:hover,&:focus {
              border-bottom:1px solid $base-link-secondary;
            }
          }
        }
      }
    }
  }
}

/* ==========================================================================
   Header
   ========================================================================== */
.banner {
  position: relative;
  display: inline-block; // Required for carousel to display correctly.
  width: 100%;
  margin-bottom: -5px;
  background: #ffffff;
  .menu-expand {
    display:none;
  }
  @include breakpoint($tab) {
    position: fixed;
    z-index: 99999;
    top: 0;
    margin-bottom: 0;
/*
    .menu-expand {
      display: block;
      text-align: right;
      margin: 1em 0;
      cursor: pointer;
      @include span(2);
      position: absolute;
      .menu-icon {
        padding: 0.75em 1em;
        &:before {
          font-family: 'fontello';
          content: '\e800';
          padding-right: 1em;
        }
      }
    }
*/
    &.small {
      .bottombar {
        margin-top: -55px;
        @include transition(0.3s);
      }
      .topbar {
        .wrap {
          .navigation {
            @include transition(0.3s);
            @include span(6);
            background: white;
            float: right !important;
          }
        }
      }
    }
/*
    .menu-expand {
      @include transition(1s);
      opacity: 0;
    }
*/
    &.menu-active {
      .bottombar {
        margin-top: 0px;
      }
      .topbar {
        .wrap {
          .navigation {
            @include span(6);
            float: right !important;
          }
        }
      }
/*
      .menu-expand {
        color: $base-link-primary;
      }
*/
    }

    &.menu-active, &.small {
      &.banner {
        @include transition(0.3s);
        min-height: 75px;
        .topbar {
          min-height: 75px;
          padding-top: 10px;
          .wrap {
            .branding {
	            
	            @include breakpoint($tab){
	            	margin-top: em-calc(14px);   
	            }
	            
	            a.brand {
	              @include transition(0.3s);
	              width: 140px;
	            }
            }
/*
            .menu-expand {
              @include transition(1s);
              opacity: 1;
              right: 0;
              margin-top: em-calc(14px);
              @include breakpoint($desk) {
                margin-top: em-calc(5px);
              }
            }
*/
            #menu-secondary-nav {
              @include transition(0.3s);
              margin-top: em-calc(5px);
              margin-bottom: em-calc(10px);
            }
          }
        }
      }
    }
  }
  .topbar {
    min-height: 72px;
    padding-top:1.5em;
    position: relative;
    background:#ffffff;
    z-index:999;
    border-bottom:1px solid $base-hr-border;
    .wrap {
      @include breakpoint($tab){
        position: relative;
        @include container;
      }
      @include breakpoint($desk){
        @include site-maxwidth;
      }
      .branding {
        z-index: 99980;
        position: relative;
        @include span(8);
        padding-left:1.5em;
        @include breakpoint($tab){
          @include span(4);
        }
        @include breakpoint($desk){
	        margin-top: em-calc(5px);
	    }
        
        a {
          &.brand {
            display: block;
            @include transition(0.3s);
            width:100%;
            img {
	            max-width: 100%;
	            width: auto;
	        }
          }
          &:hover {
            border-bottom: none;
          }
        }
      }
      .navigation {
        //position: absolute;
        position: relative;
        background: white;
        @include span(12);
        top:100%;
        z-index:99;
        border-bottom:1px solid $base-hr-border;
        @include breakpoint($tab){
          border-bottom: none;
          position: static;
          @include span(8);
        }
        
        &.stick {
	        margin-bottom: 0;
		    position: fixed;
		    top: 0;
		    z-index: 99999;
		    
		    @include breakpoint($tab){
				position: relative;   
			}
		    
		    #menu-secondary-nav {
			    
			    margin: 10px 0px;
			    
			    @include breakpoint($tab){
					margin: 0px;  
				}
		    }
        }
      }
    }
  }
  .bottombar {
    margin-top:0px;
    z-index: 99;
    @include transition(0.3s);
    @include breakpoint($tab){
      position: relative;
      border-bottom:1px solid $base-hr-border;
    }
    .wrap {
      @include breakpoint($tab){
        @include container;
      }
      @include breakpoint($desk){
        @include site-maxwidth;
      }
    }
  }
}

/* ==========================================================================
   Navigation / Menus
   ========================================================================== */
#menu-secondary-nav {
  list-style: none;
  padding:0;
  
  @include breakpoint($tab){
    display: block;
    float: right;
    margin: 0px 0px 20px;
  }
  li {
    display: block;
    padding:0 !important;
    @include breakpoint($tab) {
		display: inline-block;
		padding:0.7em;
		font-size: em-calc(14px);
    }
    @include breakpoint($desk) {
		padding:0 1.5em;
		font-size: em-calc(16px);
    }
    &.web-only {
		display:none;
		@include breakpoint($tab) {
			display: inline-block;
		}
    }
    &:last-child {
      padding-right:0;
    }
    a {
     @include secondary-link();
    }
    
    &.no-button {
	   a {
	     @include secondary-link-no-button();
	    } 
    }
  }
}
#wpadminbar {
  opacity:0.5 ;
  &:hover {
    opacity:1;
  }
}
/* ==========================================================================
   Components
   ========================================================================== */
.carousel {
  .single-item {
	  min-width: 0 !important;
    //min-width:100% !important;
/*
    @include breakpoint($tab) {
      min-width: 0 !important;
    }
*/
  }

  .item {
    background-position: -9999px -9999px;
    background-repeat: no-repeat;

    @include breakpoint($tab) {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height:$banner-height;
    }
    .content {
      color:#FFFFFF;
      padding-top: 2em;
      padding-bottom:2em;
      min-height: 210px;
      max-width: 80%;
      
      @include breakpoint($desk){
	      max-width: 900px;
	  }
      
      @include breakpoint($desk-large){
	      max-width: 1036px;
	  }
	      
      @include container-padding();
      @include breakpoint($tab) {
        padding:0;
        color:$base-body-copy;
        padding-right:20%;
        position: relative;
	    top: 45%;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
        min-height: none;
      }
      h2.headline {
        font-size:em-calc(18px);
        color:#ffffff;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 15px;
        @include breakpoint($tab) {
          color:inherit;
          font-size:em-calc(34px);
        }
      }
      .body {
	      margin-bottom: em-calc(20px);
	      
/*
	      @include breakpoint($tab){
		  	margin-bottom: em-calc(30px);  
		  }
*/
      }
      
      p {
        font-size:em-calc(14px);
        font-family: $font-stack;
        font-weight: 200;
        color:#ffffff;
        margin-top:0.5em;
        @include breakpoint($tab){
          color:inherit;
          font-size:em-calc(20px);
          font-weight: 300;
          line-height: em-calc($base-line-height,$em-base);
        }
      }
      a {
			color: #FFFFFF;
			border-bottom:1px solid #FFFFFF;
			font-size: em-calc(16px);
			font-weight: 600;
		&:hover,&:focus {
			text-decoration:none;
			border-bottom:none;
		}
		@include breakpoint($tab){
			color: $base-link-secondary;
			text-decoration: none;
			border-bottom:none;
			//font-size:em-calc(25px);
			&:hover, &:focus {
				border-bottom:1px solid $base-link-secondary;
			}
		}
		
		&.cta_button {
			border-bottom: none;
			text-align: left;
			display: initial;
			background: white;
			color: $base-link-secondary;
			position: absolute;
			//border: 1px solid $base-link-secondary;
			
			&:hover, &:focus {
				color: $base-link-primary;
			}
			
			@include breakpoint($tab){
				background: $base-link-secondary;
				color: white;
				
				&:hover, &:focus {
					background: $base-link-primary;
					color: white;
				}
			}
		}
      }
    }
  }
}
.carousel-pager {
  background-color: $carousel-tab-bg;
  height: 77px;
  position: relative;
  &:after {
    content:'';
    position: absolute;
    height: 10px;
    bottom:0;
    width: 100%;
    background-color: $carousel-tab-border;
  }
  ul {
    &.slick-dots {
      @include breakpoint($tab){
        @include container;
      }
      @include breakpoint($desk){
        @include site-maxwidth;
      }
      display: block;
      margin: auto;
      height: 100%;
      li {
        height:100%;
        z-index:999;
        &:hover,&:focus {
          color:$base-link-secondary;
        }
        p {
          position: relative;
          top: 45%;
          -webkit-transform: translateY(-45%);
          -ms-transform: translateY(-45%);
          transform: translateY(-45%);
          margin:0;
          font-weight: 600;
          font-size: em-calc(16px);
          @include breakpoint($desk) {
            padding: 0 1.5em;
          }
        }
        &.slick-active {
          background-color: $carousel-tab-active;
          color:$base-link-primary-hover;
          position: relative;
          z-index:99;
          .load-bar {
            position:absolute;
            bottom:0;
            left:0;
            width:0;
            height:10px;
            @extend %brand-gradient;
          }
          &:before{
            color:#000;
            box-shadow: -10px 0 15px -15px inset;
            content: " ";
            height: 100%;
            left: -15px;
            position: absolute;
            top: 0;
            width: 15px;
            opacity:0.2;
          }
          &:after {
            color:#000;
            box-shadow: 10px 0 15px -15px inset;
            content: " ";
            height: 100%;
            position: absolute;
            right: -15px;
            top: 0;
            width: 15px;
            opacity:0.2;
          }
        }
        div {
          position: absolute;
          width: 100%;
          height: 100%;
          top:0;
        }
        @include breakpoint($tab) {
          display: inline-block;
        }
      }
    }
  }

  @include breakpoint($tab) {
    &.rows-1 {
      display:none;
    }
    &.rows-2 {
      ul {
        li {
          @include span(6 no-gutters);
        }
      }
    }
    &.rows-3 {
      ul {
        li {
          @include span(4 no-gutters);
        }
      }
    }
    &.rows-4 {
      font-size:em-calc(14px);
      ul {
        li {
          @include span(3 no-gutters);
        }
      }
    }
  }
  @include breakpoint($desk) {
    &.rows-4 {
      font-size: em-calc($base-font-size);
    }
  }
}

.image-banner {
	margin: 0 auto;
	max-height: 225px;
	overflow: hidden;
	width: 100%;
	z-index: 1;
	
	@include breakpoint($tab){
		max-height: $banner-height;
	}
	
	img {
		width: 100%;
		max-width: none;
	}
}
.breadcrumbs-wrap {
  @include container;
  p {
    @include span(12);
    @include container-padding();
    margin:0;
    margin-top:2em;
     > span {
      > span {
        &:after {
          font-family: "fontello";
          content: "\e804";
          display: inline-block;
          padding: 0 1em;
        }
        .breadcrumb_last {
          display:none;
        }
        &:last-of-type {
          &:after {
            content: normal;
          }
        }
      }
    }
  }
  @include breakpoint($desk){
    @include site-maxwidth;
  }
}

/* ==========================================================================
   Buttons and inputs
   ========================================================================== */
 .cta_button {
	@include cta-button();
}


/* ==========================================================================
   Content
   ========================================================================== */
// Homepage Mobile hero image
.mobile-hero {
  display: block;
  line-height: 0;
  @include breakpoint($tab){
    display: none;
  }
}
// Homepage video
.video-wrap {
  padding-bottom:1.5em;
  margin-bottom:2em;
  border-bottom:1px solid $base-hr-border;
  .video-container {
    margin-left: -1.5em;
    margin-right: -1.5em;
    background:#000000;
    @include breakpoint($tab){
      margin:0;
    }
    .video-thumb {
      width:100%;
    }
    .cover-image {
      position: relative;
      color:#ffffff;
      line-height: 0;
      cursor: pointer;
      &:before {
        content:'';
        width:70px;
        height:70px;
        position: absolute;
        left:50%;
        top:50%;
        margin-top:-35px;
        margin-left:-35px;
        border-radius: 100%;
        border: 3px solid #FFFFFF;
        @include transition(0.3s);
      }
      &:after {
        content: '';
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 28px solid #ffffff;
        position: absolute;
        display: block;
        width: 100%;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -10px;
        @include transition(0.3s);
      }
      &:hover,&:focus {
        &:before {
          border-color:$base-link-secondary;
        }
        &:after {
          border-left: 28px solid $base-link-secondary;
        }
      }
    }
  }
}
// Homepage displays latest content

.latest {
  .item {
    clear:both;
    margin-bottom:em-calc(20px);
    padding-bottom:em-calc(20px);
    border-bottom: 1px solid $base-hr-border;
    width: 100%;
    display: inline-block;
    
    @include breakpoint($desk){
	    &:last-child {
		    border-bottom: none;
	    }
	}
    
    .graphic {
      @include breakpoint($tab){
		width:auto;
		float:left;
		margin-right:1em;
		width:40%;
      }
      a {
	    display: block;
	    
        img {
          width:100%;
          display: block;
          margin-bottom: em-calc(10px);

          @include breakpoint($tab){
				max-width: 250px;
				margin-bottom: 0px;
				//width:190px;
				max-widows: none;
          }
        }
        &:hover {
          border-bottom: none;
        }
      }
    }
    .title {
      h2 {
        margin-top:0;
        margin-bottom: 0px;
        a {
          &:hover, &:focus {
            border-bottom: none;
          }
        }
      }
    }
  }
}
.content {
	
	a.cta_button {
		border-bottom: none;
		text-align: left;
		display: initial;
		background: $base-link-secondary;
		color: white;
		
		&:hover, &:focus {
			color: $base-link-primary;
			color: white;
		}
	}
	
	a.cta_button_alt {
		
		background: $base-link-primary;
		
		&:hover, &:focus {
			background: $base-link-secondary;
		}
	}
	
	.sidebar {
			
		a.cta_button {
			@include secondary-link;
			background: $base-link-secondary !important;
			
			&:hover, &:focus {
				background: $base-link-primary !important;
			}
		}
		
		a.cta_button_alt {
			
			background: $base-link-primary !important;
			
			&:hover, &:focus {
				background: $base-link-secondary !important;
			}
		}
	}
	
	@include breakpoint($tab){
		
		.sidebar {
			
			a.cta_button {
				display: inline !important;
			}
		}
		
		@include container;
	}
  
	@include breakpoint($desk){
		@include site-maxwidth;
	}
}

/* ==========================================================================
   Primary Content
   ========================================================================== */
.page-template-template-home-php {
  .wrap.container {
    @include breakpoint($tab) {
      margin-top:3em;
    }
  }
}
.wrap.container {
  overflow: hidden;
}
.main {
  line-height: 1.5em;
  margin-bottom: em-calc(40px);
}

.content {
	.main {
		.cta_button {
		  
			margin: 0px auto !important;
			text-align: center !important;
			display: block !important;
		}
	}
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.entry-content {
	
	img {
		max-width: none;
		width: 100%;
	}
}


/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
  .wrap {
    @include breakpoint($tab){
      @include container;
    }
    @include breakpoint($desk){
      @include site-maxwidth;
    }
  }
  .container {
    clear:both;
    .clients {
      clear:both;
      padding:1em 0;
      background:$footer-bg;
      .content {
        @include breakpoint($tab){
          padding-bottom: 2em;
        }
      }
      .client-carousel {
        margin-top: 3em;
      }
      h2 {
        text-align: center;
      }
      .client-logo {
        @include span(3);

        a {
          img {
            @include transition(0.3s);
            margin:0 auto;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: url(../img/grayscale.svg); /* Firefox 4+ */
            filter: gray; /* IE 6-9 */
          }
          &:hover, &:focus {
            img {
              -webkit-filter: grayscale(0);
              -moz-filter: grayscale(0);
              -ms-filter: grayscale(0);
              -o-filter: grayscale(0);
              filter: none;
            }
          }
        }
      }
    }
    .contact-info {
      text-align: center;
      @include span(12);
      @include breakpoint($tab) {
        margin-bottom:4em;
      }
    }
    .bottom-bar {
      .footer-links {
        list-style: none;
        @include span(12);
        @include container-padding();
        @include breakpoint($tab) {
          padding-right:0;
          @include span(6 no-gutters);
        }
        li {
          display:inline-block;
          padding-right:em-calc(28px);
          margin: 0.75em 0;
          &:last-of-type {
            padding-right:0;
          }
          a {
            font-weight: 400;
            font-size: em-calc(14px);
            &:hover,&:focus {
              text-decoration: none;
              border-bottom: none;
            }
          }
        }
      }
      .disclaimer {
        font-weight: 400;
        font-size: em-calc(12px);
        @include span(12);
        @include container-padding();
        @include breakpoint($tab){
          @include span(6 no-gutters);
        }
        .footer-logo {
          display: inline-block;
          margin: em-calc(20px) 0;
          float: left;
          @include breakpoint($tab){
            @include span(12);
          }
          @include breakpoint($desk){
            @include span(4 no-gutters);
          }
          img {
            max-height: 40px;
            width: auto;
          }
        }
        p {
          display: inline-block;
          float:left;
          @include span(12);
          padding-left:0;
          @include breakpoint($tab){
            margin-top:0;
            @include span(12);
          }
          @include breakpoint($desk){
            @include span(8 no-gutters);
            margin-top:em-calc(48px);
          }
        }
      }

    }
  }
  .brand-bar {
    height:8px;
    clear: both;
    @extend %brand-gradient;
  }
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

figure, picture {
	margin: 0px 0px 1em;
}

figcaption {
	font-size: 80%;
}

.aligncenter {
	display: block;	
}

figure.alignnone {
	margin-left: 0;
	margin-right: 0;
}

@include breakpoint($tab){
	
	.aligncenter {
		display: block;	
		
		img, figcaption {
			
			display: block;
			margin: 0px auto;
			max-width: 300px;
		}
	}
	
	.alignleft {
		float: left;
		margin-right: 20px;
	}
	.alignright {
		float: right;
		margin-left: 20px;
	}
	
	.alignleft, .alignright {
		max-width: 300px !important;
	}
}



/* ==========================================================================
   Media Queries
   ========================================================================== */