// Container
$container-width: 700px;
@mixin container-padding($padding-left: 1.5em, $padding-right: 3.5em) {
  padding-left: $padding-left;
  padding-right: $padding-right;
}
// Susy
$susy: (
        flow: ltr,
        output: float,
        math: fluid,
        column-width: false,
        container: $container-width,
        container-position: center,
        last-flow: to,
        columns: 12,
        gutters: 2/3,
        gutter-position: inside,
        global-box-sizing: border-box,
);